In [42]:
import psycopg2
from dotenv import load_dotenv
import os
import csv
import psycopg2
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

load_dotenv()

DATABASE_USERNAME = os.getenv('DATABASE_USERNAME')
base_path = os.path.dirname(os.path.abspath("__file__"))
#base_path = os.path.abspath(__file__ + "/../../")
transformed_path = f"{base_path}/data/raw/new_vehicle.csv"
print(transformed_path)

/Users/davidhoupapa/Code/analyst-challenge/data/raw/new_vehicle.csv

In [2]:
df = pd.read_csv(transformed_path)
df.head()

,vehicle_spec_id,year,make,model,drivetrain,max_torque,max_horsepower,max_horsepower_rpm,max_torque_rpm,engine_displacement,fuel_type,fuel_tank_capacity,fuel_economy_city,fuel_economy_highway,cylinders,forced_induction,device_generation
0,1000501,2016,Jeep,Compass,4,350,171,3750,1250,1.956,1059,60,17.10,21.20,3,NaN,4
1,1000502,2016,Hyundai,Creta,2,260,126,4000,1500,1.582,1059,55,19.67,24.10,4,1054.0,3
2,1000503,2016,Skoda,Superb,2,250,177,5100,1750,1.798,1059,66,14.67,23.30,3,NaN,2
3,1000504,2017,Volkswagen,Passat,4,350,174,3600,1500,1.968,1059,66,17.42,20.43,4,NaN,4
4,1000506,2017,BMW,3 Series GT,2,400,188,4000,1800,1.995,1059,57,21.76,26.32,3,NaN,3

In [7]:
engine = create_engine("postgresql+psycopg2://"+DATABASE_USERNAME+":postgres@localhost/analyst_challenge")
conn = engine.connect()
df.to_sql('vehicle', conn, if_exists='replace')

In [33]:
import geopy.distance

coords_1 = [34.135,-106.0625]
coords_2 = [34.13472222222222,-106.0625]

print(geopy.distance.distance(coords_1, coords_2).km)

0.030812451180536857

In [43]:
from scripts.common.base import session
import pandas as pd

engine = create_engine("postgresql+psycopg2://"+DATABASE_USERNAME+":postgres@localhost/analyst_challenge")
conn = engine.connect()
data = session.execute(
        '''SELECT datetime, trip_id, make, model, lat, long
        FROM drive
        INNER JOIN vehicle on vehicle.vehicle_spec_id = drive.vehicle_spec_id'''
        ).all()

#df = pd.read_sql(data,conn)

In [44]:
df = pd.DataFrame(data, columns=['Datetime','trip_id','make','model','lat','long'])

In [51]:
#df['previous_coordinates'] = df['coordinates'].shift(1)
#df['previous_coordinates'].fillna(df['coordinates'], inplace=True)
#df['previous_coordinates'] = df['previous_coordinates'].to_numpy()

df['next_lat'] = df.groupby('trip_id')['lat'].shift(1)
df['next_long'] = df.groupby('trip_id')['long'].shift(1)

df['next_lat'].fillna(df['lat'], inplace=True)
df['next_long'].fillna(df['long'], inplace=True)

df['timestamp_end'] = df.groupby('trip_id')['Datetime'].shift(1)
df['trip_duration_minutes'] = (df['Datetime'] - df['timestamp_end'])/np.timedelta64(1,'m')
df['timestamp_end'].fillna(df['Datetime'], inplace=True)
df['trip_duration_minutes'].fillna(0,inplace=True)
df.head()

,Datetime,trip_id,make,model,lat,long,next_lat,next_long,timestamp_end,trip_duration_minutes,distance
0,2017-01-06 23:00:01,00922df3be5a4589ab385d0c2da2dd81,Audi,Q3,31.8125,-87.68722222222223,31.8125,-87.68722222222223,2017-01-06 23:00:01,0.000000,0.000000
1,2017-01-06 23:00:02,00922df3be5a4589ab385d0c2da2dd81,Audi,Q3,31.8125,-87.68694444444445,31.8125,-87.68722222222223,2017-01-06 23:00:01,0.016667,0.026301
2,2017-01-06 23:00:03,00922df3be5a4589ab385d0c2da2dd81,Audi,Q3,31.8125,-87.68666666666667,31.8125,-87.68694444444445,2017-01-06 23:00:02,0.016667,0.026301
3,2017-01-06 23:00:04,00922df3be5a4589ab385d0c2da2dd81,Audi,Q3,31.8125,-87.68638888888889,31.8125,-87.68666666666667,2017-01-06 23:00:03,0.016667,0.026301
4,2017-01-06 23:00:05,00922df3be5a4589ab385d0c2da2dd81,Audi,Q3,31.8125,-87.68611111111112,31.8125,-87.68638888888889,2017-01-06 23:00:04,0.016667,0.026301

In [46]:
def distancer(row):
    coords_1 = (row['lat'], row['long'])
    coords_2 = (row['next_lat'], row['next_long'])
    return geopy.distance.distance(coords_1, coords_2).km

In [52]:
df['distance'] = df.apply(distancer, axis=1)

In [53]:
df.tail(10)

,Datetime,trip_id,make,model,lat,long,next_lat,next_long,timestamp_end,trip_duration_minutes,distance
355198,2017-01-28 12:56:42,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.1325,-106.0625,34.132222222222225,-106.0625,2017-01-28 12:56:41,0.016667,0.030812
355199,2017-01-28 12:56:43,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.132777777777775,-106.0625,34.1325,-106.0625,2017-01-28 12:56:42,0.016667,0.030812
355200,2017-01-28 12:56:44,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.13305555555556,-106.0625,34.132777777777775,-106.0625,2017-01-28 12:56:43,0.016667,0.030812
355201,2017-01-28 12:56:45,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.13333333333333,-106.0625,34.13305555555556,-106.0625,2017-01-28 12:56:44,0.016667,0.030812
355202,2017-01-28 12:56:46,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.13361111111111,-106.0625,34.13333333333333,-106.0625,2017-01-28 12:56:45,0.016667,0.030812
355203,2017-01-28 12:56:47,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.13388888888889,-106.0625,34.13361111111111,-106.0625,2017-01-28 12:56:46,0.016667,0.030812
355204,2017-01-28 12:56:48,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.134166666666665,-106.0625,34.13388888888889,-106.0625,2017-01-28 12:56:47,0.016667,0.030812
355205,2017-01-28 12:56:49,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.13444444444444,-106.0625,34.134166666666665,-106.0625,2017-01-28 12:56:48,0.016667,0.030812
355206,2017-01-28 12:56:50,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.13472222222222,-106.0625,34.13444444444444,-106.0625,2017-01-28 12:56:49,0.016667,0.030812
355207,2017-01-28 12:56:51,20793de91ef24a898fb6ee65261cbaa6,Audi,Q3,34.135,-106.0625,34.13472222222222,-106.0625,2017-01-28 12:56:50,0.016667,0.030812

In [54]:
df.to_excel(f"{base_path}/data/insights/DailyTrip.xlsx")