In [1]:
import sys
import pandas as pd
sys.path.append('..')
from common.base import session

In [3]:
data = session.execute('''
SELECT 
drive.vehicle_spec_id, 
trip_id,
ROUND(AVG(eng_load/255)*100,2) AS average_eng_load_perc,
ROUND(AVG(velocity),2) AS average_velocity,
ROUND(MAX((drive.fuel_level / 255) * vehicle.fuel_tank_capacity),2) - ROUND(MIN((drive.fuel_level / 255) * vehicle.fuel_tank_capacity),2) AS fuel_used
FROM drive
INNER JOIN vehicle on vehicle.vehicle_spec_id = drive.vehicle_spec_id
GROUP BY trip_id, drive.vehicle_spec_id;
''').all()

In [5]:
df = pd.DataFrame(data, columns=['vehicle_spec_id','trip_id','average_eng_load_perc','average_velocity','fuel_used'])
df.head()

,vehicle_spec_id,trip_id,average_eng_load_perc,average_velocity,fuel_used
0,1000507,00922df3be5a4589ab385d0c2da2dd81,79.97,57.00,8.60
1,1000506,01b8a24510cd4e4684d67b96369286e0,75.22,65.71,9.33
2,1000501,0244f7bc747b41fba6fcd75444736621,84.23,65.92,7.17
3,1000507,02c51e56cc484711b218d3d01196687a,79.18,53.97,9.46
4,1000502,039c14a9a7df4096bb6e9445136fdf77,80.42,65.80,10.57